<div id="navbar" class="fixed">
<button id="dropdownDefault" data-dropdown-toggle="dropdown"><img src="<%=req.user && req.user.avatar ? 'https://cdn.discordapp.com/avatars/' + req.user.id + '/' + req.user.avatar + '?size=4096':'https://cdn.discordapp.com/embed/avatars/0.png?size=4096'%>" class="m-3 w-10 h-10 rounded-full"/></button>

<div id="dropdown" class="hidden z-10 w-44 bg-gray-700 rounded divide-y divide-gray-100 shadow -translate-y-3 focus-visible:-translate-y-0 transition-all duration-500">
    <ul class="py-1 text-sm text-gray-200" aria-labelledby="dropdownDefault">
      <li>
        <a href="/dashboard" class="no-underline block py-2 px-4 hover:bg-gray-600 hover:text-white hover:shadow-md hover:-translate-y-0.5 transition-all">Painel</a>
      </li>
			<%if(!req.isAuthenticated()) {%>
			 <li>
         <a href="/auth/login" class="no-underline block py-2 px-4 hover:bg-gray-600 hover:text-white hover:shadow-md hover:-translate-y-0.5 transition-all">Entrar</a>
       </li>
			<%} else {%>
				<li>
         <a href="/settings/account" class="no-underline block py-2 px-4 hover:bg-gray-600 hover:text-white hover:shadow-md hover:-translate-y-0.5 transition-all">Settings</a>
       </li>
				<li>
         <a href="/auth/logout" class="no-underline block py-2 px-4 hover:bg-gray-600 hover:text-white hover:shadow-md hover:-translate-y-0.5 transition-all">Sair</a>
       </li>
			<%}%>
				</ul>
		<div class="py-1">
        <a href="https://docs.ayubot.tech/diretrizes/privacy-policy" class="no-underline block py-2 px-4 text-sm hover:bg-gray-600 hover:text-white hover:shadow-md hover:-translate-y-0.5 transition-all">Policy Privacy</a>
		</div>
</div>
				</div>