<div class="flex justify-between mb-1">
         <span class="text-base font-medium text-white">Membros</span>
        <span class="text-sm font-medium text-white" id="members"><%=cli.guilds.cache.get(g.id).memberCount%> / 250.000</span>
            </div>
						   <div class="bg-gray-700 rounded-full h-2.5 " width="100%">
                   <div class="bg-blue-600 h-2.5 rounded-full" id="count" style="width:<%=cli.guilds.cache.get(g.id).memberCount/100%>px;"></div>
              </div>