<div
	id="toast-success"
	class="fixed bottom-0 flex items-center w-full max-w-xs ml-2 p-4 mb-4 text-gray-400 bg-gray-800 rounded-lg shadow opacity-0 transition-all"
	role="alert"
>
	<div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-200 bg-green-800 rounded-lg">
		<svg
			class="w-5 h-5"
			fill="currentColor"
			viewBox="0 0 20 20"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path
				fill-rule="evenodd"
				d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
				clip-rule="evenodd"
			/>
		</svg>
	</div>
	<div class="ml-3 text-sm font-normal">Salvo com sucesso!</div>
</div>
