<!doctype html>
<html height="100%">
 <%-include('./lib/head.ejs', {title: "", description: ""})%>
  <%-include("./lib/nav.ejs");%>
		<div class="flex flex-col items-center justify-center w-full h-full">
			<img src="/favicon.png" width="200px"/>
			<p>Seja bem vindo ao site da Ayu</p>
			<%if(!req.isAuthenticated()) {%>
			 <p>Porque não começar com um pequeno login?</p>
			 <a class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 m-3
				transition-all duration-200" href='/auth/login'>Login</a>
			<%}%>
		</div>
   <%-include("./lib/script.ejs")%>
	
		<script>
			const socket = io();
			//socket.on("connect", (socket) => {
				/*socket.on("guildUpdate", (info) => {
					var user = document.getElementById("users");
					var guild = document.getElementById("guilds");
					var ping = document.getElementById("ping");
					//console.log(info)
					user.innerHTML = info.userCount
					guild.innerHTML = info.guildCount;
					ping.innerHTML = info.ping
				})*/
			//})
		</script>
 </body>
</html>