<!doctype html>
<html>
 <%-include('../head.ejs', {title: "", description: ""})%>
 <body class="bg-[#181818] cursor-auto">
 <div class="page">
  <%-include('../nav.ejs')%>
  <center>
   <h1 >404</h1>
   <p>Não encontrei sua página :\</p>
  </center>
  </div>
  </body>
  </html>